.top{
  height: 6.8vh;
  background-color: white;
  border-bottom: solid 1px #DBDBDB;
  display: flex;
  align-items: center;
 .topTitle{
  width: 30%;
  text-align: center;
  font-size:12pt;
 }
 .topCenterContainer{
  width: 50%;
}
  .bell{
    width: 20%;
    text-align: center;
    line-height: 1;
    svg{
      vertical-align:top;
    }
  }
 }
.main{
  background-color: #F3F3F3;
}
.banner{
  width: 100%;
  height: 15vh;
  background-color: white;
  padding: 30px 20px;
  display: flex;
  margin-bottom: 30px;
  .bannerText{
    width:80%;
  }
  .bannerTitle{
    h3{
      font-size: 13pt;
      padding:2px 0;
    }
  }
}