.borderContainer{
  border-bottom: solid 1px #DBDBDB;
}
.memberContainer{
  width: 90%;
  margin: auto;
  color: black;
  padding-top: 16px;
  .topContent{
    display: flex;
    .memberPhoto{
      padding-right: 18px;
    }
    .memberName{
      font-size: 12pt;
      .level{
        padding-top: 7px;
        font-size: 9pt;
      }
    }
    .time{
      margin-left: auto;
      font-size: 12pt;
    }
  }
  .bottomContent{
    display: flex;
    .leftContainer{
      padding-left: 60px;
    }
    .qText{
      font-size: 10pt;
      padding-bottom: 15px;
      margin-right: auto;
    }
    .qTitle{
      font-size: 9pt;
      padding-bottom: 5px;
    }
    .buttonContainer{
      display: flex;
      justify-content: right;
      padding-bottom: 15px;
      .refuseButton, .acceptButton{
        display: flex;
        font-size: 10pt;
        padding: 5px;
      }
      .refuseButton{
        color: #535353;
      }
      .acceptButton{
        color: #0091FF;
        margin-left: 16px;
      }
      .buttonText{
        padding-left: 4px;
      }
    }
  }
}