.studyTypeBar{
  width:90%;
  margin:auto;
  margin-top:15px;
  text-align: center;
  font-size: 12pt;
  overflow-x: auto;
  white-space: nowrap;
  .studyType{
    display: inline-block;
    border: 1px solid #DBDBDB;
    border-radius: 16px;
    padding:10px;
    margin-right:3%;
    &:last-child{
      margin-right: 0px;
    }
  }
  .notSelected{
    background-color: white;
  }
  .selected{
    background-color:#0091FF;
    color:white;
  }
}