.topProgressBar{
  height: 0.5%;
  display: flex;
  .left{
    width:66%;
    background-color: #0091FF;
  }
  .right{
    width:34%;
    background-color: #F0F0F0;
  }
}
.top{
  height: 6%;
  background-color: white;
  border-bottom: solid 1px #DBDBDB;
  display: flex;
  align-items: center;
  .back{
    width: 10%;
    padding-top: 5px;
    text-align: center;
    }
  .topTitle{
    padding-left: 10px;
    width: 80%;
    font-size: 12pt;
  }
  .box{
    width: 10%;
    padding-top: 5px;
    text-align: center;
  }
}
.main{
  height: 100%;
  background-color: white;
}