.top{
  height: 6%;
  background-color: white;
  border-bottom: solid 1px #DBDBDB;
  display: flex;
  align-items: center;
.topLeftContainer{
 width: 20%;
}
 .topTitle{
  width: 80%;
  text-align: center;
  font-size:12pt;
 }
  .bell{
    width: 20%;
    text-align: center;
    line-height: 1;
    svg{
      vertical-align:top;
    }
  }
 }
.main{
  height: 79%;
  padding-top:10px;
  background-color: #F3F3F3;
}
.banner{
  width: 90%;
  border-radius: 16px;
  background-color: #DFB144;
  color: white;
  margin:auto;
  padding:15px;
  display: flex;
  .bannerTitle{
    h3{
      font-size: 13pt;
      padding:2px 0;
    }
  }
  p{
    margin-top: 5px;
    font-size: 10pt;
  }
  .pencil{
    font-size: 2rem;
  }

}
.bottomTemp{
  height: 15%;
  background-color: azure;
  position: fixed;
  width: 100%;
 }