  .main{
    height: 100%;
    background-color: white;
    padding-top:10px;
  }
  .linkToSignIn{
    height: 5%;
    padding-left: 25px;
    font-size: 11pt;
    margin-bottom: 20px;
    a{
      color: #0091FF;
    }
  }
  .blueButtonWrapper > div{
    color: white;
  }
  .grayButtonWrapper > div{
    color: white;
  }
  .bottomContainer{
    margin-top: 50px;
  }
  .checkButtonWrapper{
    position: absolute;
    right: 0;
  
}
  