  .main{
    height: 100%;
    background-color: white;
    padding-top:10px;
  }
  .linkToSignIn{
    height: 5%;
    padding-left: 25px;
    font-size: 11pt;
    a{
      color: #0091FF;
    }
  }
  
  