.boxContainer{
  width: 90%;
  height:48px;
  border-radius: 10px;
  background-color: #FFF3F1;
  border:1px solid #C94E38;
  font-size: 10pt;
  margin:auto;
  color: #C94E38;
  display: flex;
  align-items: center;
  justify-content: space-evenly; 
  margin-top:20px;
  margin-bottom:5px;
  span > svg{
    vertical-align: text-bottom;
  }
  .closeButton >svg >path{
    stroke:#535353;
  }
}
.msgContainer{
  font-size: 10pt;
  color: #C94E38;
  padding : 10px 0;
  span > svg{
    vertical-align: middle;
  }
}